@using DotNetUtils
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/bundles/styles")

</head>
<body>
    @* loading dialog - purposely outside all other page content, per bootstrap's recomendation! *@
    <div id="loading-dialog" class="modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <p style="text-align:center;"><em style="font-weight:bolder;">Loading ...</em></p>
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped active" role="progressbar" style="width: 100%"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">

        @* don't render nav/breadcrumb junk on the homepage - it's redundant for now *@
        @if (!Request.IsForHompage()) {@RenderSection("breadcrumbs", required: false)}

        <div id="global-error" class="alert alert-danger"></div>
        @RenderBody()

    </div>

    @Scripts.Render("~/bundles/scripts")
    @RenderSection("scripts", required: false)
</body>
</html>
